{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 150,
  "tabWidth": 2,
  "semi": true,
  "importOrder": ["^@nestjs/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["classProperties", "decorators-legacy"]
}
